*{
    color: white;
}
body{
    background-color: #0b0b0b;
}
#trailer{
    display: block;
    width: 100% ;
    height: 35px;
    background-color:#253555 ;
    font-size:15px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 700;
    color: #91DFEC;
    padding-top: 15px;
}
#navbar{
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
}
.games{
    display: inline-block;
    
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
}
#button1{
    background-color: #FCAF17;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid black;
    height: 37px;
    border-radius: 5px;
    color: #000000;
}
i{
    color: white;
}
#trailerdiv{
    background-color: #000000;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-left: 40px;
    
}
#button2{
    background-color: #FCAF17;
font-size: 25px;
font-weight: 700;
border: 1px solid black;
height: 62px;
border-radius: 5px;
color: #000000;
width: 250px;
}
#container1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
span{
    font-family: Helvetica ;
    font-size: 22px ;
    font-weight: 600;
}
#container2{
    display: flex;
    
}
.newsimage{
    width: 25%;
    display: inline-block;
    margin-left: 60px;
    height: 550px;
}
img{
    width: 100%;
    height: 293px;
    padding-bottom: 40px;
}
#container3{
    margin-top: 40px;
}
#viewmore{
    text-decoration: underline;
    text-decoration-color: #FCAF17;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica ;
    text-decoration-thickness: 5px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 100px;
}
#container5{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
}
#viewmore1{
    text-decoration: underline;
    text-decoration-color: #FCAF17;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica ;
    text-decoration-thickness: 5px;
    
}
#container20{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica ;
    width: 90%;
    margin-left: 7%;
}
#container21{
    display: flex;
    font-family: Helvetica ;
    justify-content: flex-end;
}
#container22{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica ;
    width: 90% ;
    margin-left: 5%;
    margin-bottom: 50px;
    
}
div{
    font-family: Helvetica ;
}